.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #f8d4fe;

  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  letter-spacing: 3px;
}

.modeButtonsContainer {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-top: 75px;
}
